body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; 
}

.App {
  text-align: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.header {
  background-image: url('/public/bg.jpg'); 
  background-size: cover; 
  background-position: center; 
  height: 100px; 
  position: relative; 
  z-index: 1; 
  width: 100%; 
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}


.landing-page {
  text-align: center;
  padding: 2rem;
  box-sizing: border-box;
}

.title{
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
}

.text-left{
 
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;

}

.profile-section {
  margin-bottom: 1.5rem;
  margin-top: -100px; 
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 5px solid white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2; 
}


.button-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-button {
  text-decoration: none;
  color: white;
  background-color: transparent;
  padding: 0.75rem 1.5rem;
  margin: 0.5rem 0;
  border: 1px solid white;
  border-radius: 20px;
  width: 250px;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.link-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

.link-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.link-button:hover::before {
  opacity: 1;
}



.footer{
  background-image: url('/public/bg.jpg'); /* Path to the image in the public folder */
  background-size: cover; /* Makes the background cover the entire element */
  background-position: center; /* Centers the background image */
  height: 50px; /* Adjust height as needed */
  position: relative; /* Make it relative to position the profile pic */
  z-index: 1; 
  width: 100%; /* Ensure it takes the full width */
  box-sizing: border-box;
}

.text-white{
  color: white;
}

/*Animation*/

.bg {
  width: 100%;
  height: 100vh;

  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, blue 0%, blue 20%, violet 40%, #f56b9e 60%, rgb(86, 162, 86) 70%, rgb(234, 190, 14) 80%);
  -webkit-animation: AnimateBG 20s ease infinite;
          animation: AnimateBG 20s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



@media (max-width: 768px) {
  .landing-page {
    padding: 1rem;
  }
  .profile-pic {
    width: 120px;
    height: 120px;
  }
  .link-button {
    width: 200px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  .link-button:last-child {
    margin-bottom: 1rem; /* Reduce bottom margin for smaller screens */
  }
}